package main

import (
	"github.com/labstack/echo/v4"
	"net/http"
)

type Messege struct {
	Text string `json:"text"`
}

type Responce struct {
	Status  string `json:"status"`
	Message string `json:"message"`
}

var messages []Messege

func GetHAndler(c echo.Context) error {
	return c.JSON(http.StatusOK, &messages)
}

func PostHandler(c echo.Context) error {
	var message Messege
	if err := c.Bind(&message); err != nil {
		return c.JSON(http.StatusBadRequest, Responce{
			Status:  "Error",
			Message: "Сообщение не добавлено",
		})
	}
	messages = append(messages, message)
	return c.JSON(http.StatusOK, Responce{
		Status:  "Succeed",
		Message: "Добавлено",
	})
}

func main() {
	e := echo.New()

	e.GET("/messages", GetHAndler)
	e.POST("/messages", PostHandler)

	e.Start(":8080")
}

